<div class="d-flex justify-content-center">
    <div (click)="addRoom()" class="btn btn-primary">
        Add Room
    </div>
    <div (click)="makeRoom()" class="btn btn-primary">
        Make Room
    </div>
    <div routerLink="/getting-ready" class="btn btn-primary">
        Connect
    </div>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let room of roastRooms;" class="col-sm-3">
            <app-roast-room-card [model]="room"></app-roast-room-card>
        </div>
    </div>
</div>


